

/*
 * Base structure
 */

html,
body {
  font-family: 'Montserrat', sans-serif;
  color: #5b5b5b;
  line-height: 2.0;
  height: 100%;
  background: #fff url(../images/cover.jpg) no-repeat;
  background-position: center 0;
  background-size: cover;
  background-color: transparent;
}
body {
  color: #fff;
  text-shadow: 0 .05rem .1rem rgba(0,0,0,.5); 
}

body::after {
  background-color: #000000;
  content: "";
  height: 100%;
  left: 0;
  opacity: 0.5;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: -10;
}